In [49]:
import pandas as pd
path = './d100.csv'

%time df = pd.read_csv(path)

CPU times: user 2.99 ms, sys: 1.1 ms, total: 4.09 ms
Wall time: 3.21 ms

In [62]:
#remove the children that dont make any money, and the deadbeat milleinals 
df2 = df[(df.INCTOT < 9999999) & (df.INCTOT != 0)]

In [63]:
df2

    STATEFIP  CITY  SEX  AGE  INCTOT
0         17     0    1   54   63000
1         51   310    1   40  140000
3         55     0    2   63   15200
4         31     0    1   40   31200
5         42     0    2   28   22000
6         33     0    1   53   20800
8         39     0    1   21   17000
10        48     0    2   61   38400
12        36     0    1   32   20000
14        34     0    2   34    4500
15        48     0    2   35   19200
16        18     0    1   69   48600
17        24     0    2   68   39900
18        26     0    2   69   12800
19         9     0    2   64   37700
20        39     0    2   52   72000
22        12     0    2   58   90000
23        36     0    1   35  190000
25         6     0    2   27   60000
26        28     0    1   30   38000
28         6     0    2   26   40000
30        37     0    1   62   15000
31        39     0    2   49   35000
32         6     0    2   66    7000
33        42     0    2   74   10600
34        39     0    2   24   20000
35        51  1150    1   54   98500
36        48     0    2   52    3000
38        25     0    2   61   11500
39        17     0    2   58   27500
..       ...   ...  ...  ...     ...
58        54     0    2   81    7700
60        12     0    2   25   33000
61        48     0    2   24   99000
63        39     0    1   42   65000
65        26     0    2   78    9900
66        17     0    2   83   16550
67        12     0    1   41  150000
69         6     0    2   71   69000
72        35     0    1   47   75000
73        16     0    2   71   46900
74        24     0    1   22   42000
76        36  4610    2   39   65000
77        17     0    2   35   19600
78        17     0    2   28   65000
79        46     0    2   43   50000
80        20     0    2   58   18000
82        39     0    2   22    4700
83        55     0    2   79   23500
84         1     0    2   29   21000
87         4     0    2   59   10540
88        45     0    2   63   23100
89        34  5210    1   83   20900
90        34     0    1   32   84000
92        51     0    2   60    5100
94        36     0    2   70   11600
95        51     0    2   17    2000
96        51     0    1   49   60000
97         9     0    2   67   81000
98        17  1190    1   55   11000
99         6     0    2   70   68000

[73 rows x 5 columns]